body {
	background-color: rgba(255, 228, 194, .3);
	color: rgb(255, 144, 59);
	
}



a {
	color: rgb(117, 91, 72);
}

a:hover {
	color: rgb(255, 144, 59);
	text-decoration: none;
}

.navbar-custom {
	background-color: rgba(255, 228, 194, .8);
}

.custom-nav-link {
	margin-left: 5px;
	margin-right: 5px;
}

.recipe-content {
	background-color: white;
	border: .5px rgba(117, 91, 72, .3) solid;
	border-radius: 10px;
	margin: 50px 400px 50px 0;
	padding: 20px;
}

.recipe-header {
	border-bottom: 1px rgba(255, 144, 59, .5) solid;
}

.recipe-title {
	text-align: center;
	font-size: 2em;
}

.recipe-body {
	
}

#title {
	text-align: center;
	padding-top: 20px;
}

#nav-home {
	font-size: 1.5rem;
}











